body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  letter-spacing: 2px;
}

.page-content {
  padding: 5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section {
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 76px;
}

.bio {
  padding: 10%;
  line-height: 1.9;
  font-size: 20px;
}

.cart-icon:hover {
  stroke: rgba(0, 0, 0, 0.7);
}

.shop-products:hover {
  text-decoration: none;
}

.shop-products p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.shop-products:hover > p {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.shop-products:hover > .down-carat {
  cursor: pointer;
}

.shop-products:hover > .down-carat polygon {
  stroke: rgba(0, 0, 0, 0.7);
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text h1 {
  margin-bottom: 70px;
}
